.Container {
  width: 100%;

  margin-bottom: 40px;
}

.Scroll_Container {
  // display: flex;
  // overflow-x: scroll;

  // & > div {
  //   & > div {
  //     position: relative;
  //     cursor: pointer;
  //     margin-right: 12px !important;
  //   }
  // }

  margin: 0;
  font-family: Roboto;
  font-weight: 200;

  color: #545469;
  overflow-x: hidden;
  line-height: 1.5;
}
