.Login {
  background-color: #09121c;

  height: 100vh;

  font-family: "Roboto", sans-serif;
}

.Title {
  max-width: 90%;
  h1 {
    color: #fff;

    font-weight: 500;
    font-size: 25px;

    line-height: 125%;
    letter-spacing: 1px;
  }
}
