.Navbar {
  display: flex;
  justify-content: space-between;

  align-items: center;

  width: 100%;
}

.Logo {
  width: 90px;

  img {
    width: 100%;
  }
}

.Nav_Content_Left {
  display: flex;
  justify-content: space-between;

  align-items: baseline;

  width: 30%;
}

.Search_Icon {
  height: 100%;
  img {
    height: 100%;
  }
  cursor: pointer;
}

.burger {
  padding-top: 10px;
  cursor: pointer;
  position: relative;
  z-index: 22;
}

/* Burger Menu */
.burger {
  & > div {
    background-color: #ffffff;
    width: 22px;
    height: 2px;
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(0, 0.68, 0.38, 1.4);
  }
}

.burger {
  .line3 {
    width: 110% !important;
  }

  & > div:nth-child(1) {
    width: 120% !important;
  }

  .line2,
  .line3 {
    margin-top: 5px;
  }

  .toggles.line1 {
    width: 122% !important;
    transform: rotate(-45deg) translate(-4px, 5px);
  }

  .toggles.line2 {
    /* transform: translate(-1px, -9px) rotate(-90deg); */
    opacity: 0;
  }

  .toggles.line3 {
    transform: translate(10%, -361%) rotate(43deg);
  }
}
.logo {
  display: none;
}
